.chart-box {
  background-color: var(--color-gray-0);
  border: var(--border-standard);
  border-radius: 4px;
  padding: var(--spacing-l);

  min-width: 0;
  min-height: 0;

  display: flex;
  flex-direction: column;
}

.chart-box header {
  display: flex;
  justify-content: space-between;
  text-transform: capitalize;
}

.chart-box .chart-container {
  margin: var(--spacing-m);
  flex: 1 1 1px;
}
