.body {
  display: grid;

  grid-template:
    'header header  ' min-content
    'sidebar content' auto;

  grid-template-columns: auto 1fr;
}

.page-header {
  grid-area: header;
}

.main-page-content {
  display: grid;
  column-gap: var(--spacing-l);
  row-gap: var(--spacing-l);

  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-auto-rows: 400px;
  grid-auto-flow: row dense;
}

.chart-box-wide {
  grid-column: span 2
}

.chart-box-tall {
  grid-row: span 2
}
