body {
  display: grid;
  grid-template-columns: [header-start] auto [content-start] 1fr 1fr 1fr 1fr [content-end header-end];
  grid-template-rows: [header-start] 40px 40px [header-end];
  grid-auto-rows: 40px;
}

.page-header {
  grid-area: header;
}

.sidebar {
  display: grid;
  grid-template-rows: subgrid;
  grid-row: span 80;
}

nav,
nav > ul {
  display: contents;
}

.main-page-content {
  display: grid;
  grid-area: content;
  grid-row: span 80;
  grid-template-rows: subgrid;
  grid-template-columns: subgrid;
  grid-auto-flow: row dense;
}

.chart-box {
  grid-column: span 1;
  grid-row: span 10;
}

.chart-box-wide {
  grid-column: span 2;
}

.chart-box-tall {
  grid-row: span 20;
}

.chart-box {
  display: grid;
  grid-template-rows: subgrid;
}

.chart-box header {
  grid-row: span 1;
  display: flex;
  align-items: center;
}

.chart-box .chart-container {
  grid-row: span 9;
}

.chart-box-tall .chart-container {
  grid-row: span 19;
}
