.grid-container {
  width: 400px;
  display: grid;
  grid-template-columns: 100px 100px 100px 100px 100px;
  grid-template-rows: 100px 100px 100px 100px 100px;
  gap: 10px;
}

.grid-element {
  border: 3px solid #2146C7;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.wide {
  grid-column: span 2;
}

.tall {
  grid-row: span 2;
}

label {
  display: flex;
  align-items: center;
  justify-content: center;
}
